* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #000;
  height: 95vh;
}

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  color: #267602;
  font-size: 35px;
}

.subtitle {
  color: #53d118;
  font-size: 18px;
  padding: 0;
}

.title:hover {
  color: #53d118;
}

.level-choice {
  text-align: center;
  margin-top: 0.4rem;
  width: 32rem;
  color: #ffffff;
  background-color: transparent;
  border: solid 1px rgba(83, 209, 24, 5);
}

.level--choice__link {
  text-decoration: none;
  color: #267602;
  margin-left: 1rem;
}

.level--choice__link:hover {
  font-weight: bold;
  color: #53d118;
  text-decoration: underline;
  cursor: pointer;
}

.points {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #b0f1b8;
}

@media screen and (min-width: 0) and (max-width: 1600px) {
  .title {
    font-size: 2.25rem;
  }

  .subtitle,
  .points {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1700px) {
  .title {
    font-size: 1.375rem;
  }

  .subtitle,
  .points {
    font-size: 0.8125rem;
  }
}

@media screen and (min-width: 1701px) and (max-width: 1799px) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle,
  .points {
    font-size: 0.78rem;
  }
}

@media screen and (min-width: 1800px) and (max-width: 1899px) {
  .title {
    font-size: 5rem;
  }

  .subtitle,
  .points,
  .level-choice {
    font-size: 1.8rem;
  }

  canvas {
    width: 30%;
  }

  .level-choice {
    width: 34rem;
  }
}

@media screen and (min-width: 1901px) and (max-width: 1999px) {
  .title {
    font-size: 4rem;
  }

  .subtitle,
  .points {
    font-size: 2rem;
  }

  .points {
    margin-bottom: 1.5rem;
  }

  .level-choice {
    margin-top: 1.5rem;
    font-size: 1.8rem;
  }
}
